/* styles */
.form-pending {
  color: rgba(0, 0, 0, 0.541176);
  font-size: 0.85em;
  list-style: none;
}

.form-error {
  color: #F44336;
  font-size: 0.85em;
  list-style: none;
}

/* spacing fixes */
.aftl-select {
  position: relative;
  bottom: -11px;
}


/* inline styles */
.inline-wrapper {
  display: inline;
}

.inline--before {
  display: inline-block;
}

.inline--content {
  display: inline-block;
}

.inline--after {
  display: inline-block;
}
