
<script type="text/javascript" src="/_layouts/15/SP.RequestExecutor.js"></script>
<div>
    <hr />
   
        <formly-form model="vm.model" fields="vm.fields" form="vm.form1">

        </formly-form>
   
        <hr />
        <br />
        <br />
        <br />

        <formly-form model="vm.publishModel" fields="vm.publishFields" form="vm.PublishForm">
            <br />
            <br />
            <p>

                <button type="button" class="btn btn-primary" ng-click="vm.publishForm()" click-and-disable>Publish Form</button>

                <button type="button" class="btn btn-primary" ng-click="vm.go('/')">Back To Design Form</button>
                <div manual-instruction="" ng-hide="vm.published">
                    <button type="button" class="btn btn-primary" ng-click="vm.redirectPublishedForm()">Go To The Published Form</button>
                </div>
            </p>
        </formly-form>
 

        <hr />
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="isFormlyShowScope" />
                Show scope
            </label>
        </div>
        <div ng-if="isFormlyShowScope">
            <hr />
            <h2>Model</h2>
            <pre>{{vm.model | json}}</pre>
            <h2>Fields <small>(note, functions are not shown)</small></h2>
            <pre>{{vm.fields | json}}</pre>
        </div>


    </div>

